.json
client_secret.json
Calendar-Smart-Mirror-beeb85a6c754.json
.idea/SmartMirror.iml
.idea/misc.xml
.idea/misc (LAPTOP-INGHKLLG's conflicted copy 2018-06-12).xml
.idea/workspace.xml
.idea/workspace (LAPTOP-INGHKLLG's conflicted copy 2018-06-12).xml
.idea/inspectionProfiles/Project_Default.xml
